{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kurs</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kurs.id }}</td>
            </tr>
            <tr>
                <th>Ects</th>
                <td>{{ kurs.ects }}</td>
            </tr>
            <tr>
                <th>Zzu</th>
                <td>{{ kurs.zZU }}</td>
            </tr>
            <tr>
                <th>Formakursu</th>
                <td>{{ kurs.formaKursu }}</td>
            </tr>
            <tr>
                <th>Ogolnouczelniany</th>
                <td>{{ kurs.ogolnoUczelniany }}</td>
            </tr>
            <tr>
                <th>Praktyczny</th>
                <td>{{ kurs.praktyczny }}</td>
            </tr>
            <tr>
                <th>Typ</th>
                <td>{{ kurs.typ }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Efekty kierunkowe</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
        </tr>
        </thead>
        <tbody>
        {% for efekt in kurs.efektKierunkowy %}
            <tr>
                <td>{{ efekt.id }}</td>
                <td>{{ efekt }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kurs_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('kurs_edit', { 'id': kurs.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
