{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grupy kursów</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grupaKursow in grupaKursows %}
            <tr>
                <td><a href="{{ path('grupakursow_show', { 'id': grupaKursow.id }) }}">{{ grupaKursow.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('grupakursow_show', { 'id': grupaKursow.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('grupakursow_edit', { 'id': grupaKursow.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('grupakursow_new') }}">Create a new grupaKursow</a>
        </li>
    </ul>
{% endblock %}
