{% extends 'base.html.twig' %}

{% block body %}
    <h1>Efekty kierunkowe</h1>
    <a class="btn btn-success pull-right" href="{{ path('efektkierunkowy_new') }}">Nowy  efekt kierunkowy</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Zakres</th>
                <th>Identyfikator</th>
                <th>Opis</th>
                <th>Efekt ministerialny</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for efektKierunkowy in efektKierunkowies %}
            <tr>
                <td><a href="{{ path('efektkierunkowy_show', { 'id': efektKierunkowy.id }) }}">{{ efektKierunkowy.id }}</a></td>
                <td>{{ efektKierunkowy.zakres }}</td>
                <td>{{ efektKierunkowy.identyfikator }}</td>
                <td>{{ efektKierunkowy.opis }}</td>
                <td>{{ efektKierunkowy.efektministerialny }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('efektkierunkowy_show', { 'id': efektKierunkowy.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('efektkierunkowy_edit', { 'id': efektKierunkowy.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
