{% extends 'base.html.twig' %}

{% block body %}
    <h1>Efekt kierunkowy</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ efektKierunkowy.id }}</td>
            </tr>
            <tr>
                <th>Identyfikator</th>
                <td>{{ efektKierunkowy.identyfikator }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ efektKierunkowy.opis }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('efektkierunkowy_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('efektkierunkowy_edit', { 'id': efektKierunkowy.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
