{% extends 'base.html.twig' %}

{% block body %}
    <h1>Efekt kierunkowy</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ efektKierunkowy.id }}</td>
            </tr>
            <tr>
                <th>Identyfikator</th>
                <td>{{ efektKierunkowy.identyfikator }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ efektKierunkowy.opis }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('efektkierunkowy_index') }}">Powrót</a>
        </li>
        <li>
            <a href="{{ path('efektkierunkowy_edit', { 'id': efektKierunkowy.id }) }}">Edycja</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
