{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plan studiów</h1>

    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Forma</th>
            <td>{{ planStudiow.forma }}</td>
        </tr>
        </tbody>
    </table>

    <h2>Semestry</h2>
    {% if planStudiow.semestr|length < planStudiow.programStudiow.liczbaSemestrow %}
        <a class="btn btn-info" href="{{ path('semestr_new', {'id' : planStudiow.id}) }}">Dodaj semestr</a>
    {% endif %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Numer</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
         {% for semestr in planStudiow.semestr %}
             <tr>
                 <td>{{ semestr.numer }}</td>
                 <td>
                     <ul>
                         <li>
                             <a href="{{ path('semestr_show', { 'id': semestr.id }) }}">Szczegóły</a>
                         </li>
                         <li>
                             <a href="{{ path('semestr_edit', { 'id': semestr.id }) }}">Edycja</a>
                         </li>
                     </ul>
                 </td>
             </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kierunekstudiow_show', {'id' : planStudiow.programStudiow.programKsztalcenia.kierunekStudiow.id}) }}">Wróć do kierunku studiów</a>
        </li>
        <li>
            <a href="{{ path('planstudiow_edit', { 'id': planStudiow.id }) }}">Edycja</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
