{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kierunki studiów</h1>

    <a class="btn btn-success pull-right" href="{{ path('kierunekstudiow_new') }}">Nowy kierunek studiów</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Skrót</th>
            <th>Wydział</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for kierunekStudiow in kierunekStudiows %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>{{ kierunekStudiow.nazwa }}</td>
                <td>{{ kierunekStudiow.skrot }}</td>
                <td>{{ kierunekStudiow.wydzial }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('kierunekstudiow_show', { 'id': kierunekStudiow.id }) }}">Szczegóły</a>
                        </li>
                        <li>
                            <a href="{{ path('kierunekstudiow_edit', { 'id': kierunekStudiow.id }) }}">Edycja</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
