{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kierunekstudiow</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kierunekStudiow.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ kierunekStudiow.nazwa }}</td>
            </tr>
            <tr>
                <th>Skrot</th>
                <td>{{ kierunekStudiow.skrot }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kierunekstudiow_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('kierunekstudiow_edit', { 'id': kierunekStudiow.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
