{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kierunek studiów</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nazwa</th>
            <td>{{ kierunekStudiow.nazwa }}</td>
        </tr>
        <tr>
            <th>Skrot</th>
            <td>{{ kierunekStudiow.skrot }}</td>
        </tr>
        </tbody>
    </table>

    <h2>Program kształcenia</h2>
    <a class="btn btn-info" href="{{ path('programksztalcenia_new', {'id': kierunekStudiow.id}) }}">Dodaj program
        kształcenia</a>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>Program kształcenia</th>
            <th>Poziom</th>
            <th>Specjalność</th>
            <th>Jezyk</th>
            <th>Cykl</th>
            <th>Program studiów</th>
            <th>Plan studiów</th>
        </tr>
        </thead>
        <tbody>
        {% for programKsztalcenia in kierunekStudiow.programKsztalcenia %}
            <tr>
                <td>
                    <a href="{{ path('programksztalcenia_show', {'id': programKsztalcenia.id}) }}">Szczegóły</a>
                </td>
                <td>
                    {{ programKsztalcenia.poziom }}

                </td>
                <td>
                    {{ programKsztalcenia.specjalnosc }}
                </td>
                <td>
                    {{ programKsztalcenia.jezyk }}
                </td>
                <td>
                    {{ programKsztalcenia.cykl | date('Y-m-d') }}
                </td>
                <td>
                    {% if programKsztalcenia.programStudiow is defined and programKsztalcenia.programStudiow %}
                        <a href="{{ path('programstudiow_show', {'id': programKsztalcenia.programStudiow.id}) }}">{{ programKsztalcenia.programStudiow }} (Szczegóły)</a>
                    {% else %}
                        <a href="{{ path('programstudiow_new', {'id': programKsztalcenia.id}) }}">Dodaj program
                            studiów</a>
                    {% endif %}
                </td>
                <td>
                    {% if programKsztalcenia.programStudiow is defined and programKsztalcenia.programStudiow and programKsztalcenia.programStudiow.planStudiow is defined and programKsztalcenia.programStudiow.planStudiow %}
                        <a href="{{ path('planstudiow_show', {'id': programKsztalcenia.programStudiow.planStudiow.id}) }}">{{ programKsztalcenia.programStudiow.planStudiow }} (Szczegóły)</a>
                    {% elseif programKsztalcenia.programStudiow is defined and programKsztalcenia.programStudiow %}
                        <a href="{{ path('planstudiow_new', {'id': programKsztalcenia.programStudiow.id}) }}">Dodaj plan studiów</a>
                    {% else %}
                        -
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kierunekstudiow_index') }}">Powrót</a>
        </li>
        <li>
            <a href="{{ path('kierunekstudiow_edit', { 'id': kierunekStudiow.id }) }}">Edycja</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
