{% extends 'base.html.twig' %}

{% block body %}
    <h1>Przedmioty</h1>

    <a class="btn btn-success pull-right" href="{{ path('przedmiot_new') }}">Dodaj przedmiot</a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nazwa</th>
                <th>Nazwa ang</th>
                <th>Kod</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for przedmiot in przedmiots %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ przedmiot.nazwa }}</td>
                <td>{{ przedmiot.nazwaAng }}</td>
                <td>{{ przedmiot.kod }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('przedmiot_show', { 'id': przedmiot.id }) }}">Szczegóły</a>
                        </li>
                        <li>
                            <a href="{{ path('przedmiot_edit', { 'id': przedmiot.id }) }}">Edycja</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
