{% extends 'base.html.twig' %}

{% block body %}
    <h1>Przedmiot</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nazwa</th>
            <td>{{ przedmiot.nazwa }}</td>
        </tr>
        <tr>
            <th>Nazwaang</th>
            <td>{{ przedmiot.nazwaAng }}</td>
        </tr>
        <tr>
            <th>Kod</th>
            <td>{{ przedmiot.kod }}</td>
        </tr>
        </tbody>
    </table>

    <h2>Karta przedmiotu</h2>
    <a class="btn btn-info" href="{{ path('kartaprzedmiotu_new', {'id': przedmiot.id}) }}">Dodaj kartę przedmiotu</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Jezyk</th>
            <th>Wersja</th>
            <th>Wydział</th>
            <th>Opiekun przedmiotu</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for karta in przedmiot.kartaPrzedmiotu %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ karta.jezyk }}</td>
                <td>{{ karta.wersja }}</td>
                <td>{{ karta.wydzial }}</td>
                <td>{{ karta.opiekunPrzedmiotu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('kartaprzedmiotu_show', { 'id': karta.id }) }}">Szczegóły</a>
                        </li>
                        <li>
                            <a href="{{ path('kartaprzedmiotu_edit', { 'id': karta.id }) }}">Edycja</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Kurs</h2>
    <a class="btn btn-info" href="{{ path('grupakursow_new', {'id': przedmiot.id}) }}">Dodaj kurs</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Forma zajęć</th>
            <th>ECTS</th>
            <th>ZZU</th>
            <th>Sposób zaliczenia</th>
            <th>Typ</th>
            <th>Forma kursu</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for kurs in przedmiot.kurs if kurs.grupaKursow is null%}
            <tr>
                <td>{{ loop.index }}</td>
                {% set name = kurs.forma.name %}
                {% set ects = kurs.ects %}
                {% set zzu = kurs.zzu %}
                {% for k in kurs.kurs %}
                    {% set name = name~', '~k.forma.name %}
                    {% set ects = ects + k.ects %}
                    {% set zzu = zzu + k.zzu %}
                {% endfor %}
                <td>{{ name }}</td>
                <td>{{ ects }}</td>
                <td>{{ zzu }}</td>
                <td>{{ kurs.sposobZaliczenia }}</td>
                <td>{{ kurs.typ }}</td>
                <td>{{ kurs.formaKursu }}</td>
                <td>
                    <ul>
                        {#<li>#}
                            {#<a href="{{ path('grupakursow_show', { 'id': kurs.id }) }}">Szczegóły</a>#}
                        {#</li>#}
                        <li>
                            <a href="{{ path('grupakursow_edit', { 'id': kurs.id }) }}">Edycja {{ kurs.forma }}</a>
                        </li>
                        {% for k in kurs.kurs %}
                        <li>
                            <a href="{{ path('grupakursow_edit', { 'id': k.id }) }}">Edycja {{ k.forma }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('przedmiot_index') }}">Powrót</a>
        </li>
        <li>
            <a href="{{ path('przedmiot_edit', { 'id': przedmiot.id }) }}">Edycja</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
