{% extends 'base.html.twig' %}

{% block body %}
    <h1>Program ksztalcenia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Specjalnosc</th>
                <td>{{ programKsztalcenium.specjalnosc }}</td>
            </tr>
            <tr>
                <th>Cykl</th>
                <td>{% if programKsztalcenium.cykl %}{{ programKsztalcenium.cykl|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <h2>Macierz śladowania</h2>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>KEK</th>
            <th>Program kształcenia</th>
            <th>Kurs</th>
        </tr>
        </thead>
        <tbody>
        {% for key, one in macierz %}
            <tr>
                <td>
                    <b>{{ key }}</b>
                </td>
                {% if one.program is defined and one.program == 1 %}
                <td style="background: green;">
                {{ one.program }}
            {% else %}
                <td style="background: red;">
                    0
                    {% endif %}
                </td>
                {% if one.kurs is defined and one.kurs == 1 %}
                <td style="background: green;">
                    {{ one.kurs }}
                    {% else %}
                <td style="background: red;">
                    0
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kierunekstudiow_show', {'id' : programKsztalcenium.kierunekStudiow.id }) }}">Wróć do kierunku studiów</a>
        </li>
        <li>
            <a href="{{ path('programksztalcenia_edit', { 'id': programKsztalcenium.id }) }}">Edycja</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
