{% extends 'base.html.twig' %}

{% block body %}
    <h1>Efektministerialnies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Identyfikator</th>
                <th>Opis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for efektMinisterialny in efektMinisterialnies %}
            <tr>
                <td><a href="{{ path('efektministerialny_show', { 'id': efektMinisterialny.id }) }}">{{ efektMinisterialny.id }}</a></td>
                <td>{{ efektMinisterialny.identyfikator }}</td>
                <td>{{ efektMinisterialny.opis }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('efektministerialny_show', { 'id': efektMinisterialny.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('efektministerialny_edit', { 'id': efektMinisterialny.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('efektministerialny_new') }}">Create a new efektMinisterialny</a>
        </li>
    </ul>
{% endblock %}
