{% extends 'base.html.twig' %}

{% block body %}
    <h1>Efekty ministerialne</h1>

    <a class="btn btn-success pull-right" href="{{ path('efektministerialny_new') }}">Nowy efekt ministerialny</a>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Identyfikator</th>
            <th>Obszar</th>
            <th>Zakres</th>
            <th>Profil</th>
            <th>Opis</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for efektMinisterialny in efektMinisterialnies %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>{{ efektMinisterialny.identyfikator }}</td>
                <td>{{ efektMinisterialny.opis }}</td>
                <td>{% if efektMinisterialny.obszar is defined %}{{ efektMinisterialny.obszar | join(', ') }}{% endif %}</td>
                <td>{% if efektMinisterialny.zakres is defined %}{{ efektMinisterialny.zakres }}{% endif %}</td>
                <td>{% if efektMinisterialny.profil is defined %}{{ efektMinisterialny.profil }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('efektministerialny_show', { 'id': efektMinisterialny.id }) }}">Szczegóły</a>
                        </li>
                        <li>
                            <a href="{{ path('efektministerialny_edit', { 'id': efektMinisterialny.id }) }}">Edycja</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
