{% extends 'base.html.twig' %}

{% block body %}
    <h1>Karta przedmiotu</h1>

    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Wersja</th>
            <td>{{ kartaPrzedmiotu.wersja }}</td>
        </tr>
        <tr>
            <th>Studium</th>
            <td>{{ kartaPrzedmiotu.studium }}</td>
        </tr>
        <tr>
            <th>Opiekun przedmiotu</th>
            <td>{{ kartaPrzedmiotu.opiekunPrzedmiotu }}</td>
        </tr>
        <tr>
            <th>Język</th>
            <td>{{ kartaPrzedmiotu.jezyk }}</td>
        </tr>
        <tr>
            <th>Wydział</th>
            <td>{{ kartaPrzedmiotu.wydzial }}</td>
        </tr>
        <tr>
            <th>Narzędzia dydaktyczne</th>
            <td>{{ kartaPrzedmiotu.narzedziaDydaktyczne }}</td>
        </tr>
        <tr>
            <th>Ocena osiągnięcia</th>
            <td>{{ kartaPrzedmiotu.ocenaOsiagniecia }}</td>
        </tr>
        <tr>
            <th>Wymagania wstępne</th>
            <td>{{ kartaPrzedmiotu.wymaganiaWstepne }}</td>
        </tr>
        <tr>
            <th>Cele przedmiotu</th>
            <td>{{ kartaPrzedmiotu.celePrzedmiotu }}</td>
        </tr>
        <tr>
            <th>Treści programowe</th>
            <td>{{ kartaPrzedmiotu.tresciProgramowe }}</td>
        </tr>
        <tr>
            <th>Literatura podstawowa</th>
            <td>{{ kartaPrzedmiotu.literaturaPodstawowa }}</td>
        </tr>
        <tr>
            <th>Literatura uzupełniająca</th>
            <td>{{ kartaPrzedmiotu.literaturaUzupelniajaca }}</td>
        </tr>
        </tbody>
    </table>

    <h2>PEK</h2>
    <a class="btn btn-info" href="{{ path('efektprzedmiotowy_new', {'id' : kartaPrzedmiotu.id }) }}">Dodaj efekt
        przedmiotowy</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Identyfikator</th>
            <th>Opis</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for efekt in kartaPrzedmiotu.efektPrzedmiotowy %}
            <tr>
                <td>{{ efekt.identyfikator }}</td>
                <td>{{ efekt.opis }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('efektprzedmiotowy_show', {id: efekt.id}) }}">Szczegóły</a>
                        </li>
                        <li>
                            <a href="{{ path('efektprzedmiotowy_edit', {id: efekt.id}) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Macierz śladowania</h2>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>KEK</th>
            <th>Karta przedmiotu</th>
            <th>Kurs</th>
        </tr>
        </thead>
        <tbody>
        {% for key, one in macierz %}
            <tr>
                <td>
                    <b>{{ key }}</b>
                </td>
                {% if one.karta is defined and one.karta | length > 0 %}
                <td style="background: green;">
                {{ one.karta | join(', ') }}
            {% else %}
                <td style="background: red;">
                    &times;
                    {% endif %}
                </td>
                {% if one.kurs is defined and one.kurs == 1 %}
                <td style="background: green;">
                    &#10004;
                    {% else %}
                <td style="background: red;">
                    &times;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('przedmiot_show', {'id': kartaPrzedmiotu.przedmiot.id}) }}">Wróc do przedmiotu</a>
        </li>
        <li>
            <a href="{{ path('kartaprzedmiotu_edit', { 'id': kartaPrzedmiotu.id }) }}">Edycja</a>
        </li>
        <li>
            <a href="{{ path('kartaprzedmiotu_pdf', {'id': kartaPrzedmiotu.id}) }}" target="_blank">PDF</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
