{% extends 'base.html.twig' %}

{% block body %}
    <h1>Efektprzedmiotowies list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identyfikator</th>
                <th>Opis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for efektPrzedmiotowy in efektPrzedmiotowies %}
            <tr>
                <td><a href="{{ path('efektprzedmiotowy_show', { 'id': efektPrzedmiotowy.id }) }}">{{ efektPrzedmiotowy.id }}</a></td>
                <td>{{ efektPrzedmiotowy.identyfikator }}</td>
                <td>{{ efektPrzedmiotowy.opis }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('efektprzedmiotowy_show', { 'id': efektPrzedmiotowy.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('efektprzedmiotowy_edit', { 'id': efektPrzedmiotowy.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('efektprzedmiotowy_new') }}">Create a new efektPrzedmiotowy</a>
        </li>
    </ul>
{% endblock %}
