{% extends 'base.html.twig' %}

{% block body %}
    <h1>Efekty przedmiotowe</h1>

    {#<a class="btn btn-success pull-right" href="{{ path('efektprzedmiotowy_new') }}">Nowy efekt przedmiotowy</a>#}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Identyfikator</th>
                <th>Opis</th>
                <th>Zakres</th>
                <th>Efekty kierunkowe</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for efektPrzedmiotowy in efektPrzedmiotowies %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ efektPrzedmiotowy.identyfikator }}</td>
                <td>{{ efektPrzedmiotowy.opis }}</td>
                <td>{{ efektPrzedmiotowy.zakres }}</td>
                <td>{{ efektPrzedmiotowy.efektKierunkowy }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('efektprzedmiotowy_show', { 'id': efektPrzedmiotowy.id }) }}">Szczegóły</a>
                        </li>
                        <li>
                            <a href="{{ path('efektprzedmiotowy_edit', { 'id': efektPrzedmiotowy.id }) }}">Edycja</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
