{% extends 'base.html.twig' %}

{% block body %}
    <h1>Efekt przedmiotowy</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ efektPrzedmiotowy.id }}</td>
            </tr>
            <tr>
                <th>Identyfikator</th>
                <td>{{ efektPrzedmiotowy.identyfikator }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ efektPrzedmiotowy.opis }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('efektprzedmiotowy_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('efektprzedmiotowy_edit', { 'id': efektPrzedmiotowy.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
