{% extends 'base.html.twig' %}

{% block body %}
    <h1>Moduł kształcenia tworzenie</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Utwórz" />
    {{ form_end(form) }}

    <ul>
        {% if modulKsztalcenium.semestr %}
            <li>
                <a href="{{ path('semestr_show', {'id' : modulKsztalcenium.semestr.id}) }}">Wróć do semestru</a>
            </li>
        {% endif %}
        {% if modulKsztalcenium.programStudiow[0] is defined and modulKsztalcenium.programStudiow[0] %}
            <li>
                <a href="{{ path('programstudiow_show', {'id' : modulKsztalcenium.programStudiow[0].id}) }}">Wróć do programu studiów</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
