{% extends 'base.html.twig' %}

{% block body %}
    <h1>Moduł kształcenia</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ modulKsztalcenium.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ modulKsztalcenium.nazwa }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        {% if modulKsztalcenium.semestr %}
            <li>
                <a href="{{ path('semestr_show', {'id' : modulKsztalcenium.semestr.id}) }}">Wróć do semestru</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('modulksztalcenia_edit', { 'id': modulKsztalcenium.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
